<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project: Chase Dooley's website, version 3</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{base.url}}/assets/css/v3.css" />
    <style>
      #projectInfo {
        color: #222;
        font-family: sans-serif;
        font-weight: bold;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
      }

      #projectExit {
        border: 0;
        padding: 5px 10px;
      }

      #projectExit:hover {
        background-color: red;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <nav id="projectInfo">
      <a id="projectExit" href="{{ site.baseurl }}/">&larr; exit</a>
      <span role="text">{{page.title}}</span>
    </nav>
    <section id="welcome">
      <h1>
        I want to
        <span class="hl-orange">create value</span> for audiences and businesses
        <span class="hl-blue">through making</span>.
      </h1>
      <i class="fas fa-angle-down fa-2x"></i>
    </section>
    <header>
      <nav>
        <a href="#now" class="nav-link">Now</a>
        <a href="#projects" class="nav-link">Projects</a>
        <a href="#connect" class="nav-link">Connect</a>

        <a
          href="https://medium.com/@chasedooley"
          target="_blank"
          class="nav-link"
          >Articles
        </a>
        <a href="https://chases.blog" target="_blank" class="nav-link">Blog</a>
      </nav>
    </header>
    <main class="container">
      <article>
        <section id="me">
          <div id="profile">
            <img
              class="headshot"
              src="{{base.url}}/assets/images/headshotv3.jpg"
              alt="Photo of Chase Dooley - I wear glasses"
            />
            <div class="title">
              <h2>I'm Chase Dooley.</h2>
              <h2>Writer & Creative.</h2>
              <h2>Praxis Participant.</h2>
            </div>
          </div>
        </section>
        <section id="now">
          <h2>What am I doing now?</h2>
          <h3>Praxis Program</h3>
          <p>
            I've started the Praxis Program, a college-alternative that trains
            you for an apprenticeship with their startup business partners. I
            was very fortunate to be offered a seat, and am excited to continue.
          </p>
          <h3>My content & brand</h3>
          <p>
            I want to build an audience around making by producing value through
            valuable content. I'm focusing on my journey and development, and
            all facets that fall in-between. With this going, I hope to expand
            it into more endeavors.
          </p>
          <h3>Myself</h3>
          <p>
            I haven't been good to myself in the past year; my health has not
            been first and my nutrition is quite poor and not enough exercise. I
            want to focus the next year to myself, my health. I want to adopt a
            healthy diet and good exercise routine. I also want to prioritize my
            sleep and set a solid sleep schedule with evening and morning
            routines.
          </p>
        </section>
        <section id="projects">
          <h2>Projects</h2>
          <h3>Chase's Blog</h3>
          <p>
            I have a daily blog with the goal of reaching 20,000 posts in my
            lifetime. I write short-form posts about anything and everything
            that interests me.
            <a href="https://chases.blog">Click here to check it out</a>.
          </p>
          <h3>Chase's List</h3>
          <p>
            You can also subscribe to me on Substack and get all of my content
            in one place.
          </p>
          <iframe
            width="480"
            height="320"
            src="https://chasedooley.substack.com/embed"
            frameborder="0"
            scrolling="no"
          ></iframe>
          <h4>More projects are in the works</h4>
          <br />
        </section>
        <section id="connect">
          <h2>Connect with me</h2>
          <p>You can find me easily across the internet:</p>
          <ul>
            <li>
              Email:
              <a href="mailto:chase@chasedooley.com">chase@chasedooley.com</a> -
              For professional communication. I respond within 24 hours.
            </li>
            <li>
              <a href="https://twitter.com/chasedooley_">Twitter</a> - I share
              my daily thoughts here and can be found for quick 1-1
              conversations.
            </li>
            <li>
              <a href="https://www.linkedin.com/in/dooleychase/">LinkedIn</a> -
              My professional portfolio, fit with its daily posts focused on
              industry and business.
            </li>
            <li>
              <a href="https://medium.com/@chasedooley">Medium</a> - I publish
              my articles and detailed thoughts here.
            </li>
          </ul>
        </section>
      </article>
    </main>
    <footer>
      <a href="#" class="nav-link">Back to Top</a>
    </footer>
  </body>
</html>
